{{> banner}}
<div class="card text-center" id="account-selection-box">
    <h3 class="card-header">Account Details</h3>
    <div class="card-body">
        <div class="form-check my-1">
        <label class="form-check-label d-block" for="checking">Account Number: {{ accNumber }}</label>
        <label class="form-check-label d-block" for="checking">Account Type: {{ accType }}</label>
        <label class="form-check-label d-block" for="checking">Account Balance: ${{ accBalance}}</label>
        </div>
        <div class="container mt-4">
            <a href="javascript:window.history.back()" class="btn btn-outline-dark mt-2 mx-auto d-block btn-size">OK</a>
        </div>
    </div>
</div>