{{> banner}}
<form action="/d" method="POST">
  <div class="card text-center" id="account-selection-box">
    <h3 class="card-header">Make a Deposit</h3>
    <div class="card-body">
      <div class="form-check my-1">
        <label class="form-check-label" for="checking">Account Number: {{ accNumber }}</label>
        <input type="text" class="form-control w-25 mx-auto my-3" name= "depositAmount" onkeypress="validate(event)" id="deposit-amount" autofocus>
      </div>
      <div class="container center-flex m-auto text-center">
        <button type="submit" class="btn btn-outline-dark btn-size" onClick="return emptyDeposit()">Submit</button>
        <a href="javascript:window.history.back()" class="btn btn-outline-dark text-center btn-size">Cancel</a>
      </div>
    </div>
  </div>
</form>