{{> banner}}
<form action="" method="POST">
  <div class="card text-center" id="account-selection-box">
    <h3 class="card-header">Make a Withdrawal</h3>
    <div class="card-body">
      <div class="form-check my-1">
        <label class="form-check-label" for="checking">Account Number: ?</label>
        <input class="form-control w-25 mx-auto my-3" type="text" name="withdrawalAmount" placeholder="0000" autofocus>
        {{!-- limit input to number only --}}
      </div>
      <div class="container center-flex m-auto text-center">
        <button type="submit" class="btn btn-outline-dark btn-size">Submit</button>
        <a href="javascript:window.history.back()" class="btn btn-outline-dark text-center btn-size">Cancel</a>
      </div>
    </div>
  </div>
</form>