.bannerTop {
    background-color: #ffd31d;
    text-align: center;
    margin: auto;
}


body {
    background-color: #fae7cb;
}

input[type=radio] {
    margin-left: 5px;
}

nav {
    background-color: #ff7272;
}

select.form-control{
    display:inline-block
}

#account-selection-box {
    background-color: #ffb385;
}

#account-number-box {
    width: 20%;
    background-color: transparent;
    border: 3px solid #ffb385;
}

.clsUsernameLogout {
    position: relative;
    left: 3px;
}

div#divUsername
{
    opacity: 1;
    transition: opacity 1s ease-out;    
}
div#divLogout
{
    position: absolute;
    top: 0;
    left: 0;
}

a#aLogout
{
    opacity: 0;	
    text-decoration: underline;
    transition: opacity 1s ease-in;        
}
.clsUsernameLogout:hover div#divUsername
{
    opacity: 0;
}
.clsUsernameLogout:hover a#aLogout
{
    opacity: 1;	
}

.login-box{
    display:block;
    width:100%;
    height:500px;
    overflow:scroll;
    margin: auto;
    margin-top: 30px;
    background-color: #ffb385;
}

.small-banner {
    padding: 20px 0px;
}


.btn-size {
    width: 100px;
}